body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #ddd;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #222222 0%, #444 100%);
    z-index: -1;
}

header, nav, footer {
    background-color: #444; /* Slightly lighter shade for header, nav, and footer */
}


header {
    display: flex;
    justify-content: space-between; /* Adjusts spacing between logo, heading, and button */
    align-items: center; /* Ensures vertical alignment */
    padding: 20px; /* Adds some space around the header content */
}

a:visited {
    color: #ff69b4; /* Bright pink for visited links */
}

a {
    color: #007bff; /* Bright blue for unvisited links */
}

.github-button-container {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
    align-items: center;
    background-color: #343434; 
    box-shadow: 0 1px 10px rgb(64, 1, 76); /* adds a subtle shadow */
}

.btn-primary {
    /* Styles from CSS3 GitHub Buttons library */
    background-color: #24292e;
    border-radius:.25em;
    color: white;
    display: flex;
    font-size: 14px;
    line-height: 2.5;
    padding:.6em 1em;
    text-decoration: none;
    transition: background-color.3s ease;
}

.btn-primary:hover {
    background-color: #760f84;
}

.github-img {
    width: 24px; /* Set desired width */
    height: 24px; /* Set desired height, maintaining aspect ratio */
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
}

.heading-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Allows the text container to take up the remaining space */
}

h1 {
    color: #8f00c7; /* purple for headings */
}
h2 {
    font-weight: 1000;
    font-size: 30px;
    color: #963dba; 
    background-color: #343434; 
    box-shadow: 0 1px 10px rgb(64, 1, 76); /* adds a subtle shadow */
}
h3 {
    font-weight:  900;
    color: #8f719b; 
}
h4 {
    color: #8f719b; 
}
h5 {
    color: #8f719b; 
}

/* Style the section containers */
.section-container {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px); /* Adds a subtle blur effect */
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgb(171, 131, 179); /* adds a subtle shadow */
}



.text-container {
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    max-width: 100px;
    height: auto; /* Keeps aspect ratio */
}

.position-image,
.education-image {
    width: 200px;
    height: auto;
    margin-top: 1rem;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #343434; 
    box-shadow: 0 1px 10px rgb(64, 1, 76); /* adds a subtle shadow */
}

.project img {
    min-width: 150px;
    max-width: 150px;
    height: auto; /* Keeps aspect ratio */
    margin-right: 20px; /* Adds some space between the image and the text */
}

.project.project-description {
    flex-grow: 1; /* Allows the description to take up the remaining space */
    text-align: left; /* Aligns the text to the left */
}


footer {
    background-color: rgba(68, 68, 68, 0.8);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-content ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer-content ul li:last-child {
    margin-right: 0;
}

details {
    margin-bottom: 20px;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

summary {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-weight: 1000;
    font-size: 30px;
    color: #963dba; 
    background-color: #343434; 
    border-radius: 15px;
    box-shadow: 0 1px 10px rgb(64, 1, 76); /* adds a subtle shadow */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0; /* Add some vertical padding */
    
}

.error-container {
    text-align: center;
    max-width: 600px; /* Limit the width of the error container */
    margin: 0 auto;
}

.error-container h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.error-container p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #999;
}

.btn-primary {
    padding: 10px; /* Remove default padding */
    text-align: center; /* Center the text horizontally */
    display: inline-flex; /* Allow for vertical centering */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    width: auto; /* Allow the button to expand to fit its content */
    box-shadow: 0 1px 10px rgb(64, 1, 76); /* adds a subtle shadow */
}

.btn-primary:hover {
    background-color: #760f84;
}