body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #ddd;
}

header, nav, footer {
    background-color: #444; /* Slightly lighter shade for header, nav, and footer */
}


header {
    display: flex;
    justify-content: space-between; /* Adjusts spacing between logo, heading, and button */
    align-items: center; /* Ensures vertical alignment */
    padding: 20px; /* Adds some space around the header content */
}

a:visited {
    color: #ff69b4; /* Bright pink for visited links */
}

a {
    color: #007bff; /* Bright blue for unvisited links */
}

.github-button-container {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
    align-items: center;
    background-color: #343434; 
    box-shadow: 0 1px 10px rgb(64, 1, 76); /* adds a subtle shadow */
}

.btn-primary {
    /* Styles from CSS3 GitHub Buttons library */
    background-color: #24292e;
    border-radius:.25em;
    color: white;
    display: flex;
    font-size: 14px;
    line-height: 2.5;
    padding:.6em 1em;
    text-decoration: none;
    transition: background-color.3s ease;
}

.btn-primary:hover {
    background-color: #760f84;
}

.github-img {
    width: 24px; /* Set desired width */
    height: 24px; /* Set desired height, maintaining aspect ratio */
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
}

.heading-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Allows the text container to take up the remaining space */
}

h1 {
    color: #8f00c7; /* purple for headings */
}
h2 {
    font-weight: 1000;
    font-size: 30px;
    color: #963dba; 
    background-color: #343434; 
    box-shadow: 0 1px 10px rgb(64, 1, 76); /* adds a subtle shadow */
}
h3 {
    font-weight:  900;
    color: #8f719b; 
}
h4 {
    color: #8f719b; 
}
h5 {
    color: #8f719b; 
}

.text-container {
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    max-width: 100px;
    height: auto; /* Keeps aspect ratio */
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #343434; 
    box-shadow: 0 1px 10px rgb(64, 1, 76); /* adds a subtle shadow */
}

.project img {
    min-width: 150px;
    max-width: 150px;
    height: auto; /* Keeps aspect ratio */
    margin-right: 20px; /* Adds some space between the image and the text */
}

.project.project-description {
    flex-grow: 1; /* Allows the description to take up the remaining space */
    text-align: left; /* Aligns the text to the left */
}


footer {
    background-color: #444; /* Same as the header and nav for consistency */
    color:#8f00c7;
    padding: 20px; /* Space around the footer content */
    text-align: center; /* Center the content */
}

.footer-content ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Removes default margin */
}

.footer-content ul li {
    display: inline-block; /* Display list items side by side */
    margin-right: 10px; /* Space between list items */
}

.footer-content ul li:last-child {
    margin-right: 0; /* Remove right margin from last item */
}

details {
    margin-bottom: 20px;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

summary {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-weight: 1000;
    font-size: 30px;
    color: #963dba; 
    background-color: #343434; 
    box-shadow: 0 1px 10px rgb(64, 1, 76); /* adds a subtle shadow */
}